@import "../../../partials/variables";

.examarly-progressbar {
  width: 107px;
  height: 4px;
  background-color: $color-gray;
  border-radius: 2px;
  position: relative;

  &__inner {
    height: 100%;
  }

  &:before {
    content: "";
    width: 2px;
    height: 4px;
    position: absolute;
    top: 0;
    background-color: $color-white;
    left: 33%;
  }

  &:after {
    content: "";
    width: 2px;
    height: 4px;
    position: absolute;
    background-color: $color-white;
    top: 0;
    left: 66%;
  }

}