/*
    =========================================================
    * Examarly Variables
    =========================================================
*/

/* Color Palette */

$color-primary: linear-gradient(138deg, rgba(252,93,115,1) 0%, rgba(255,153,63,1) 100%);
$color-primary-2: linear-gradient(90deg, rgba(252,93,115,1) 0%, rgba(255,153,63,1) 100%);
$color-primary-3: linear-gradient(180deg, rgba(252,93,115,1) 0%, rgba(255,153,63,1) 100%);
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #DADADA;



/* Border Radius */
$br-0: 0;
$br-1: 1px;
$br-2: 3px;
$br-3: 7px;
$br-4: 9px;
$br-5: 12px;
$br-6: 15px;
$br-circle: 999px;

